<%- include('header') %>
<form method="GET" action="/cotacao">
    <input name="cotacao" placeholder="Dollar exchange rate"><br>
    <input name="quantidade" placeholder="Dollars amount"><br>
    <button>Convert!</button>
</form>
<%- include('footer') %>